@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f1f1f1;
  font-family: "courrier new", monospace;
}

code {
  font-family: "courrier new", monospace;
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}
